ConsoleApplication2/Service References/ServiceReference1/DhlApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DhlApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DhlApiSecure_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Iss.Contracts.Dhl" />
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Iss.Contracts.Common" />
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Iss.Contracts.Express1" />
      <xsd:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Iss.Contracts.Tracking" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDhlWebApi_GetLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabel" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetReprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReprint" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetReprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReprintResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CloseDomesticShippingDay_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseDomesticShippingDay" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CloseDomesticShippingDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseDomesticShippingDayResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalLabel" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalReprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalReprint" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalReprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalReprintResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CloseInternationalShippingDay_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseInternationalShippingDay" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CloseInternationalShippingDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseInternationalShippingDayResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CancelInternationalLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelInternationalLabel" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CancelInternationalLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelInternationalLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CancelDomesticLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelDomesticLabel" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CancelDomesticLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelDomesticLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRate" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRateResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalRate" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalRateResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_ReprintDomesticBOL_InputMessage">
    <wsdl:part name="parameters" element="tns:ReprintDomesticBOL" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_ReprintDomesticBOL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReprintDomesticBOLResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_ReprintInternationalBOL_InputMessage">
    <wsdl:part name="parameters" element="tns:ReprintInternationalBOL" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_ReprintInternationalBOL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReprintInternationalBOLResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRates" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalRates" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetInternationalRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInternationalRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetExpress1Label_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpress1Label" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetExpress1Label_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpress1LabelResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetExpress1Rates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpress1Rates" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetExpress1Rates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpress1RatesResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetExpress1Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpress1Rate" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetExpress1Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpress1RateResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CancelExpress1Label_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelExpress1Label" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_CancelExpress1Label_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelExpress1LabelResponse" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetTrackingInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackingInfo" />
  </wsdl:message>
  <wsdl:message name="IDhlWebApi_GetTrackingInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackingInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDhlWebApi">
    <wsdl:operation name="GetLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetLabel" message="tns:IDhlWebApi_GetLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetLabelResponse" message="tns:IDhlWebApi_GetLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReprint">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetReprint" message="tns:IDhlWebApi_GetReprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetReprintResponse" message="tns:IDhlWebApi_GetReprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseDomesticShippingDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/CloseDomesticShippingDay" message="tns:IDhlWebApi_CloseDomesticShippingDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/CloseDomesticShippingDayResponse" message="tns:IDhlWebApi_CloseDomesticShippingDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInternationalLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalLabel" message="tns:IDhlWebApi_GetInternationalLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalLabelResponse" message="tns:IDhlWebApi_GetInternationalLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInternationalReprint">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalReprint" message="tns:IDhlWebApi_GetInternationalReprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalReprintResponse" message="tns:IDhlWebApi_GetInternationalReprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseInternationalShippingDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/CloseInternationalShippingDay" message="tns:IDhlWebApi_CloseInternationalShippingDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/CloseInternationalShippingDayResponse" message="tns:IDhlWebApi_CloseInternationalShippingDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelInternationalLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/CancelInternationalLabel" message="tns:IDhlWebApi_CancelInternationalLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/CancelInternationalLabelResponse" message="tns:IDhlWebApi_CancelInternationalLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelDomesticLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/CancelDomesticLabel" message="tns:IDhlWebApi_CancelDomesticLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/CancelDomesticLabelResponse" message="tns:IDhlWebApi_CancelDomesticLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetRate" message="tns:IDhlWebApi_GetRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetRateResponse" message="tns:IDhlWebApi_GetRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInternationalRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalRate" message="tns:IDhlWebApi_GetInternationalRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalRateResponse" message="tns:IDhlWebApi_GetInternationalRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReprintDomesticBOL">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/ReprintDomesticBOL" message="tns:IDhlWebApi_ReprintDomesticBOL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/ReprintDomesticBOLResponse" message="tns:IDhlWebApi_ReprintDomesticBOL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReprintInternationalBOL">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/ReprintInternationalBOL" message="tns:IDhlWebApi_ReprintInternationalBOL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/ReprintInternationalBOLResponse" message="tns:IDhlWebApi_ReprintInternationalBOL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetRates" message="tns:IDhlWebApi_GetRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetRatesResponse" message="tns:IDhlWebApi_GetRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInternationalRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalRates" message="tns:IDhlWebApi_GetInternationalRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetInternationalRatesResponse" message="tns:IDhlWebApi_GetInternationalRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Label">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetExpress1Label" message="tns:IDhlWebApi_GetExpress1Label_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetExpress1LabelResponse" message="tns:IDhlWebApi_GetExpress1Label_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Rates">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetExpress1Rates" message="tns:IDhlWebApi_GetExpress1Rates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetExpress1RatesResponse" message="tns:IDhlWebApi_GetExpress1Rates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetExpress1Rate" message="tns:IDhlWebApi_GetExpress1Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetExpress1RateResponse" message="tns:IDhlWebApi_GetExpress1Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelExpress1Label">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/CancelExpress1Label" message="tns:IDhlWebApi_CancelExpress1Label_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/CancelExpress1LabelResponse" message="tns:IDhlWebApi_CancelExpress1Label_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackingInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDhlWebApi/GetTrackingInfo" message="tns:IDhlWebApi_GetTrackingInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDhlWebApi/GetTrackingInfoResponse" message="tns:IDhlWebApi_GetTrackingInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DhlApi" type="tns:IDhlWebApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReprint">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetReprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseDomesticShippingDay">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CloseDomesticShippingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalReprint">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalReprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseInternationalShippingDay">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CloseInternationalShippingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelInternationalLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CancelInternationalLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelDomesticLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CancelDomesticLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRate">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalRate">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprintDomesticBOL">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/ReprintDomesticBOL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprintInternationalBOL">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/ReprintInternationalBOL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalRates">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Label">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetExpress1Label" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Rates">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetExpress1Rates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Rate">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetExpress1Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelExpress1Label">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CancelExpress1Label" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackingInfo">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetTrackingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DhlApiSecure" type="tns:IDhlWebApi">
    <wsp:PolicyReference URI="#DhlApiSecure_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReprint">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetReprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseDomesticShippingDay">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CloseDomesticShippingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalReprint">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalReprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseInternationalShippingDay">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CloseInternationalShippingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelInternationalLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CancelInternationalLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelDomesticLabel">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CancelDomesticLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRate">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalRate">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprintDomesticBOL">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/ReprintDomesticBOL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprintInternationalBOL">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/ReprintInternationalBOL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInternationalRates">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetInternationalRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Label">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetExpress1Label" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Rates">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetExpress1Rates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpress1Rate">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetExpress1Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelExpress1Label">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/CancelExpress1Label" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackingInfo">
      <soap:operation soapAction="http://tempuri.org/IDhlWebApi/GetTrackingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DhlApi">
    <wsdl:port name="DhlApi" binding="tns:DhlApi">
      <soap:address location="http://ifslabelservice.com/api/DhlApi.svc" />
    </wsdl:port>
    <wsdl:port name="DhlApiSecure" binding="tns:DhlApiSecure">
      <soap:address location="https://ifslabelservice.com/api/DhlApi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>