MarketplaceWinForm/Service References/DhlApi/DhlApi3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Iss.Contracts.Tracking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Iss.Contracts.Tracking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ifslabelservice.com/api/DhlApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Iss.Contracts.Common" />
  <xs:complexType name="TrackingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingRequest" nillable="true" type="tns:TrackingRequest" />
  <xs:complexType name="TrackingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirwayBill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfTrackingError" />
      <xs:element minOccurs="0" name="Events" nillable="true" type="tns:ArrayOfTrackingEvent" />
      <xs:element minOccurs="0" name="ProcessedDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Iss.Contracts.Common" minOccurs="0" name="ShipmentAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightLbs" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingResponse" nillable="true" type="tns:TrackingResponse" />
  <xs:complexType name="ArrayOfTrackingError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingError" nillable="true" type="tns:TrackingError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingError" nillable="true" type="tns:ArrayOfTrackingError" />
  <xs:complexType name="TrackingError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingError" nillable="true" type="tns:TrackingError" />
  <xs:complexType name="ArrayOfTrackingEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingEvent" nillable="true" type="tns:TrackingEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingEvent" nillable="true" type="tns:ArrayOfTrackingEvent" />
  <xs:complexType name="TrackingEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventCode" type="xs:int" />
      <xs:element minOccurs="0" name="EventDatetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Iss.Contracts.Common" minOccurs="0" name="EventLocation" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="EventSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingEvent" nillable="true" type="tns:TrackingEvent" />
</xs:schema>